@font-face {
    font-family: "Anonymous Bold";
    src: url(AnonymousPro-Bold.ttf);
}

@font-face {
    font-family: "Anonymous Regular";
    src: url(AnonymousPro-Regular.ttf);
}

header {
    font-family: "Anonymous Regular";
    background-color: white;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }

.logo {
    margin-left: 90px;
    max-width: 500px;
}

.tag {
    margin-left: auto;
    margin-right: 90px;
    list-style-type: none;
}
  
ul {
    list-style-type: none;
  }

body {
    background-color:#F1F1F1;
    margin: 0;
    padding: 0;
  }

main {
    background-color: white;
    border-radius: 50px;
    margin: 60px 90px;
    padding: 40px;
    font-family: "Anonymous Regular";
}

.image {
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

.information {
    display: flex;
    justify-content: space-between;
}

.history {
    width: 506px;
}

.short_inf {
    width: 506px;
}

.short_inf_line {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

footer {
    background-color: #121723;
    font-family: "Anonymous Regular";
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 142px;
    color: white;
    font-size: 20px;
}
  
.before_line_footer {
    display: flex;
    justify-content: space-between;
  }
  
.naming {
    color: #A1A6B4;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    margin:5px;
  }