@font-face {
    font-family: "Anonymous Bold";
    src: url(AnonymousPro-Bold.ttf);
}

@font-face {
    font-family: "Anonymous Regular";
    src: url(AnonymousPro-Regular.ttf);
}

header {
    font-family: "Anonymous Bold", sans-serif;
    background-color: white;
    height: 110px;
    display: flex;
    align-items: center;
  }

ul {
    list-style-type: none;
  }
  
nav {
    margin-left: auto;
    margin-right: 8%;
  }

body {
    background-color:#F1F1F1;
    margin: 0;
    padding: 0;
  }

.top {
    margin-left: 8%;
  }

main {
    width: 80%;
    background-color: white;
    border-radius: 50px;
    margin: 60px auto;
    padding: 40px;
    font-family: "Anonymous Regular";
    font;
}

.image {
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

.information {
    display: flex;
    justify-content: space-between;
}

.history {
    width: 506px;
}

.short_inf {
    width: 506px;
}

.short_inf_line {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

footer {
    background-color: #121723;
    font-family: "Anonymous Bold", sans-serif;
    height: 142px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
  }