@font-face {
  font-family: "Anonymous Pro Bold";
  src: url(AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(AnonymousPro-Regular.ttf);
}

body {
  background-color:#F1F1F1;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Anonymous Pro Bold", sans-serif;
  background-color: white;
  height: 110px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.top {
  margin-left: 8%;
}

footer {
  background-color: #121723;
  font-family: "Anonymous Pro Bold", sans-serif;
  height: 142px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

nav {
  margin-left: auto;
  margin-right: 8%;
}

h1 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 56px;
}

.subtitle {
  font-family: "Anonymous Pro Bold", sans-serif;
  font-size: 48px;
  margin-left: 8%;
}

.content_container {
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content:center;
  margin: 0;
  padding: 0;
}

.container {
  display:flex;
  flex-direction:column;
  background-color: white;
  padding: 1%;
  border-radius: 15px;
  margin: 1%;
  font-weight: 700;
}

h3 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
}

p {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.container__image {
  width: 371px;
  height: 254px;
  margin: 5px;
  padding: 0;
}

.container__title {
  width: 323px;
  font-size: 26px;
  margin: 5px;
  padding: 0;
}

.container__text {
  width: 323px;
  font-size: 20px;
  margin: 5px;
  padding: 0;
}